* {
 box-sizing: border-box;
}
.nav 
{
    position: absolute;
    width:100%;
  
}
ul 
{
   list-style-type:none;
  
   background-color:white;
   margin:0;
   padding:0;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
   box-shadow:0 0 3px black;
   box-sizing: border-box;
   
   li 
   {
       display:inline-block;
       vertical-align: middle;
    margin:0 auto;
    color: #282828;
  padding:22px 25px;
  font-size:16px;
  transition:all .4s;
  font-weight: 600;
cursor:pointer;

    .navLogo 
    {
        width:43px;
        height:43px;
        align-items: center;
        padding:0;
        
    }
  
   }

   li:hover 
   {
       background-color:rgb(175, 8, 8);
       color:white;
   }
}

.fa-chevron-down 
{
   
   font-size:10px;
   margin:5px;
   margin-left:10px;
   font-weight:bold;
   
}

#discordLI, #logoLI 
{
    padding:8px 25px;
   padding-top:11px;
   padding-bottom:5px;
}
#discordLI:hover, #logoLI:hover 
{
    background-color:white;
}